.stroke-first {
  paint-order: stroke;
}

.pick-coordinates {
  cursor: crosshair;
}

.map {
  width: 100%;
  height: 100%;

  .leaflet-top button.leaflet-control {
    margin-top: $buttondistance;
  }

  .leaflet-bottom button.leaflet-control {
    margin-bottom: $buttondistance;
  }

  .leaflet-left button.leaflet-control {
    margin-left: $buttondistance;
  }

  .leaflet-right button.leaflet-control {
    margin-right: $buttondistance;
  }
}

